<h1>Coach Login</h1>
<form method="POST" action="/login">
  Username:<input type="text" name="user_name" placeholder="Username"><br>
  Password:<input type="password" name="password" placeholder="Password"><br>
  <input type="submit">
</form>
