<h1>New Coach - Sign Up</h1>
<form method="POST" action="/signup">
  <h3>Coach Information</h3>
  Name:<input type="text" name="coach[name]" placeholder="Name"><br>
  Username:<input type="text" name="coach[user_name]" placeholder="Username"><br>
  Password:<input type="password" name="coach[password]" placeholder="Password"><br>
  <h3>Team Information</h3>
  Team Name:<input type="text" name="team[name]" placeholder="Team Name"><br>
  City:<input type="text" name="team[city]" placeholder="City"><br>
  Mascot:<input type="text" name="team[mascot]" placeholder="Mascot"><br>
  Field:<input type="text" name="team[field]" placeholder="field"><br><br>
  <input type="submit">
</form>
