<div class="container-fluid">
<h3>New Coach - Sign Up</h3>
<form method="POST" action="/signup">
  <h4>Coach Information</h4>
  Name:<input type="text" name="coach[name]" placeholder="Name"><br>
  Username:<input type="text" name="coach[user_name]" placeholder="Username"><br>
  Password:<input type="password" name="coach[password]" placeholder="Password"><br><br>
  <h4>Team Information</h4>
  Team Name:<input type="text" name="team[name]" placeholder="Team Name"><br>
  City:<input type="text" name="team[city]" placeholder="City"><br>
  Mascot:<input type="text" name="team[mascot]" placeholder="Mascot"><br>
  Field:<input type="text" name="team[field]" placeholder="Field"><br><br>
  <input type="submit">
</form>
</div>
